nav {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border: 3px solid greenyellow;
}
nav a {
    font-size: 300%;
    color: tomato;
    text-decoration: none;
}
ul {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 1% 1%;
    flex-wrap: wrap;
    list-style: none;
}
ul li {
    text-align: center;
    width: 33%;
}